<p id="notice"><%= notice %></p>

<% @grades = Grade.all %>

<h1>Grades</h1>

<h2>Sort By:</h1>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Student Grade</th>
      <th colspan="4"></th>

<button class="button button1">Ascending</button>
<button class="button button1">Descending</button>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.student_id %></td>
        <td><%= grade.student_name %></td>
        <td><%= grade.student_grade %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
